body {
  background: linear-gradient(
  to bottom,
  #5d9634,
  #5d9634 50%,
  #538c2b 50%,
  #538c2b
);
background-size: 100% 20px;
  font: 13px Helvetica, Arial;
}
.centered {
  text-align: center;
}
.container {
  width: 650px;
  background-color: #0099CC;
  border-width: medium;
  border-color: black;
  border-style: solid;
  margin: auto;
}

ul#black {
  padding-left: 70px;
  padding-top: 20px;
  height: 50px;
}

ul#white {
  padding-top: 20px;
  height: 75px;
}

ul#white li, ul#black li{
    display: inline;
}

ul#black li#empty{
  padding: 25px 35px;
  background-color: #0099CC;
}


ul#black li a:hover, ul#white li a:hover {
    background-color: orange;
}

ul#black li a {
    background-color: black;
    color: white;
    padding: 25px 30px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#white li a {
    background-color: #E6E6E6;
    color: black;
    padding: 40px 30px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.kosketin li {
  background-color: white;
  width: 30px;
  height: 100px;
  border-color: black;
  border-width: medium;
}
