body {
  background: linear-gradient(
  to bottom,
  #5d9634,
  #5d9634 50%,
  #538c2b 50%,
  #538c2b
);
background-size: 100% 20px;
  font: 13px Helvetica, Arial;
}
.centered {
  text-align: center;
}
#room{
  float:left;
  padding-left: 20px;
}
#players{
  float: right;
  padding-right: 20px;
}

#roominfo {
  margin: auto;
  background-color: #E6E6E6;
  padding-bottom: 5px;
  border-width: medium;
  border-color: black;
  border-style: solid;
  border-bottom: none;
  height: 50px;
  width: 675px;
}

.container {
  width: 675px;
  background-color: #0099CC;
  border-width: medium;
  border-color: black;
  border-style: solid;
  margin: auto;
}

ul#black {
  padding-left: 70px;
  padding-top: 20px;
  height: 50px;
}

ul#white {
  padding-top: 20px;
  height: 75px;
}
ul#drums {
  padding-top: 20px;
  height: 75px;
}

ul#white li, ul#black li, ul#drums li{
    display: inline;
}

ul#black li#empty{
  padding: 15px 25px;
  background-color: #0099CC;
}


button:hover {
    background-color: orange;
}
button {
    background-color: #E6E6E6;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.kosketin li {
  background-color: white;
  width: 30px;
  height: 100px;
  border-color: black;
  border-width: medium;
}
